.header {
    background-color: lightskyblue;
    margin-bottom: 10px;
}

.header h1{
    color: white;

}

.search-form{
    margin: 0px;
}

#search-Btn{
    border-color: black;
}

.search-results{
    padding-left: 15px;
    margin: 0px;
}

#results-card{
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.city{
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.forecast{
    padding-left: 15px;
}
